h1 {
  text-align: center;
}


.chat {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}


.chat-content {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}

.chat-content .user-message {
  text-align: right;
}

.chat-content .robot-message {
  white-space: pre-wrap;
}


.chat-form {
  padding: 10px;
  display: flex;
}

.chat-form input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-form button {
  flex-grow: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}